/* /styles/footer.css */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #93C572;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.social-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
}

.social-links li {
  display: inline;
  margin: 0 10px;
}

.social-links a {
  text-decoration: none;
  /* color: white; */
  display: flex;
  align-items: center;
}

.social-links a img {
  margin-right: 1px;
}
